.reveal h3 {
	text-align:left;
}

.reveal h1 { font-size: 2.3em; }
.reveal h2 { font-size: 1.6em; }
.reveal h3 { font-size: 1.2em; }
.reveal h3 { font-size: 1.0em; }

.reveal {
	font-size: 2.0em;
}

section.present {
	top: 10px !important;
}

.reveal .slides { text-align: left; }

hr {
	border-top: 4px solid #DB8831;
	border-bottom: 2px solid #DDDDDD;
}

.red {
	color: red;
}

.reveal section img {
	margin: 15px 0px;
	background: rgba(255, 255, 255, 0.12);
	border: 0px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section.table-medium {
	font-size: 20px;
}

section.table-small table {
	font-size: 15px;
}


section.dependency table {
	margin: unset;
}

section.ul-small ul {
	font-size: 20px;
}


.fix {
    position: fixed;
    bottom: 2.8%;
    left: 0%;
}

.bottombar {
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.bottombar span {
    font-family: "Arial";
    font-size: 1em;
    /*font-size: var(--r-main-font-size);*/
    font-weight: normal;
    color: var(--r-main-color);
    margin-left: 10px;
}

.bottombar span.right {
    margin-left: auto;
    margin-right: 100px;
}

.bottombar span img {
    margin-left: 10px;
}

.bottombar span a {
    text-decoration-line: none;
}

.center-xy {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-y {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}

.center-x {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}
